/* Hero */
.hero{
    position: relative;
    display: inline-block;
}

.hero-img{
    position: relative;
    width: 98.75vw;
    height: 85vh;
}

.hero-content{
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-15%, -50%);
}


/*Cards*/
.cards{
    padding: 2%;
    background-color: #24245B;
}   

.card-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img{
    width: 50%;
}

/*Profiles*/
.items{
    margin: 1%;
    padding: 2%;
}

.pill{
    background-color: #24245B !important;
    padding-top: 10%;
    padding-bottom: 10%;
}