<app-navbar></app-navbar>

<section class="hero">
    <img src="../../../assets/hero-background.png" alt="hand-background" class="hero-img">
    <div class="hero-content">
        <h1 class="hero-title text-light">Tu puerta al futuro legal</h1>
        <h2 class="hero-subtitle text-light">Encuentra información legal, contactos y oportunidades</h2>        
    </div>
</section>

<section class="cards">
    <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-2 container">
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4 card-img-container">
                    <img src="../../../assets/Group.svg" class="img-fluid rounded-start card-img" alt="balanza">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">Perfiles profesionales</h5>
                    <p class="card-text">Encuentra a los mejores profesionales del derecho que te brindarán asesoramiento.</p>
                    <button class="btn btn-outline-dark">Más información</button>
                    </div>
                </div>
                </div>
            </div>  
        </div>

        <div class="col">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4 card-img-container">
                    <img src="../../../assets/book-alt-bg-light.svg" class="img-fluid rounded-start card-img" alt="balanza">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">Revista Jurídica</h5>
                      <p class="card-text">Infórmate y comparte conocimiento legal con la sociedad.</p>
                      <button class="btn btn-outline-dark">Más información</button>
                    </div>
                  </div>
                </div>
            </div>  
        </div>
    </div>
    </div>
</section>

<section class="profiles">
    <div class="pills">
        <ul class="nav justify-content-center">
            <li class="nav-item items">
              <a class="nav-link active rounded-pill badge pill" aria-current="page" (click)="defaultSlides()">Todos</a>
            </li>
            <li class="nav-item items">
              <a class="nav-link rounded-pill badge pill" (click)="onClickBolivia()">Bolivia</a>
            </li>
            <li class="nav-item items">
              <a class="nav-link rounded-pill badge pill" (click)="onClickArgentina()">Argentina</a>
            </li>
        </ul>
    </div>

    <div class="pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-6 text-right">
                    <a class="btn btn-outline-dark mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-bs-slide="prev">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="btn btn-outline-dark mb-3 " href="#carouselExampleIndicators2" role="button" data-bs-slide="next">
                        <i class="fa fa-arrow-right"></i>
                    </a>
                </div>
                <div class="col-12">
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div *ngFor='let item of slides; let i = index;'>
                                <div *ngIf="i === 0; then thenBlock else elseBlock"></div>
                                <ng-template #thenBlock>
                                    <div class="carousel-item active" >
                                        <div class="row">
                                            <div class="col-md-3 mb-3" *ngFor="let profile of item">
                                                <div class="card carousel-card">
                                                    <div class="img-cont">
                                                        <img class="img-fluid card-img" alt="100%x280" src="{{ profile.imageUrl }}">
                                                    </div>
                                                    <div class="card-body">
                                                        <h4 class="card-title">{{ profile.name }}</h4>
                                                        <p class="card-text">{{ profile.country }}</p>
                                                        <button class="btn btn-outline-dark">Ver perfil >></button>
                                                    </div>
                                                </div>
                                            </div>    
                                        </div>
                                    </div>               
                                </ng-template>
                                <ng-template #elseBlock>
                                <div class="carousel-item" >
                                    <div class="row">
                                        <div class="col-md-3 mb-3" *ngFor="let profile of item">
                                            <div class="card carousel-card">
                                                <div class="img-cont">
                                                    <img class="img-fluid card-img" alt="100%x280" src="{{ profile.imageUrl }}">
                                                </div>
                                                <div class="card-body">
                                                    <h4 class="card-title">{{ profile.name }}</h4>
                                                    <p class="card-text">{{ profile.country }}</p>
                                                    <button class="btn btn-outline-dark">Ver perfil >></button>
                                                </div>
        
                                            </div>
                                        </div>    
                                    </div>
                                </div>               
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mprof-btn">
        <button class="btn btn-outline-dark">Ver más perfiles</button>
    </div>
</section>